[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"
rope = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restplus = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysqlclient = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
