<p><b>Gemiddelde speeltijd: </b><span id="averageTime">{{timePlaying}}s ({{timeDifference}}s)</span></p>

<p><b>Karakter op de kaart: </b>
<select class="select" name="character" id="character" (change)="selectCharacterHandler($event)" >
  <option *ngFor="let char of character" value="{{char.char}}">{{char.char}}</option>
</select>
</p>

<p><b>Afmeting van het bord: </b>
<select class="select" name="size" id="size" (change)="selectSizeHandler($event)">
  <option *ngFor="let number of size" value="{{ number.number }}">{{ number.number}}</option>
</select>
</p>

<!-- Dit was voor het testen! -->
<p> {{selectedCharacter}}</p>
<p> {{selectedSize}}</p>

<p><button type="button" (click)="startTimer()">startTimer</button>
<button type="button" (click)="stopTimer()">pauseTimer</button></p>
