<p><b>Kleur dichte kaarten: </b><input type="color" (change)="changeInactiveColour($event)" value="{{inactiveColour}}"><div class="square" [ngStyle]="{'background-color': inactiveColour}"></div></p>
<p><b>Kleur open kaarten: </b><input type="color" (change)="changeActiveColour($event)" value="{{activeColour}}"><div class="square" [ngStyle]="{'background-color': activeColour}"></div></p>
<p><b>Kleur gevonden kaarten: </b><input type="color" (change)="changeFoundColour($event)" value="{{foundColour}}"><div class="square" [ngStyle]="{'background-color': foundColour}"></div></p>
