<div>
  <table>
    <tr>
      <td>
        <b>Karakter op kaarten:</b>
        <select name="character" id="character" [(ngModel)]="this.gameService.character">
            <option *ngFor="let char of character" value="{{char.char}}">{{ char.char }}</option>
          </select>
        <br />
        <br />
        <b>Afmeting bord:</b>
        <select name="size" id="size" [(ngModel)]="this.gameService.size">
          <option *ngFor="let number of size" value="{{number.number}}">{{ number.number }}</option>
        </select>
      </td>
    </tr>
  </table>
  <button (click)="this.gameService.restart()">Hoeft niet</button>
</div>
