table#playing-field {
  width: 65vmin;
  height: 65vmin;
  border-spacing: 2vmin;
  background-color: #242424;
  table-layout: fixed;
  margin: auto;
}

table#playing-field td {
  cursor: pointer;
  color: #d8d8d8;
  font: bold 6vmin SF Mono;
  text-align: center;
  user-select: none;
}

td {
  border-radius: 19px;
}

td.inactive {
  background-color: var(--inactive);
}

td.active {
  background-color: var(--active);
  cursor: default;
}

td.found {
  background-color: var(--found);
  cursor: default;
}
