table#playing-field {
  width: 50vmin;
  height: 50vmin;
  border-collapse: separate;
  border-spacing: 3%;
}

table#playing-field td {
  cursor: pointer;
  color: #d8d8d8;
  font: bold 6vmin SF Mono;
  text-align: center;
  user-select: none;
}

td {
  border-radius: 19px;
}

td.inactive {
  background-color: var(--inactive);
}

td.active {
  background-color: var(--active);
  cursor: default;
}

td.found {
  background-color: var(--found);
  cursor: default;
}
